  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/profiles/<%= user.profile._id %>" <%- title==='My Profile' ? 'class="active"' : '' %>
        >
        My Profile
      </a>
      <a href="/profiles" <%- title==='All Profiles' ? 'class="active"' : '' %>
        >
        All Profiles
      </a>
      <a href="/bottles/" <%- title==='All Invenotry Bottles' ? 'class="active"' : '' %>
        >
        All Inventory Bottles
      </a>
      <a href="/wishes/" <%- title==='All Wish List Bottles' ? 'class="active"' : '' %>
        >
        All Wish List Bottles
      </a>
      <a href="/bottles/new" <%- title==='Add Bottle to Inventory' ? 'class="active"' : '' %>
        >
        Add Bottle to Inventory
      </a>
      <a href="/wishes/new" <%- title==='Add Bottle to Wish List' ? 'class="active"' : '' %>
        >
        Add Bottle to Wish List
      </a>
      <% if (user?.profile.avatar) { %>
        <div class="right">
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
