<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1>Welcome to <%= profile.name %>'s profile!</h1>
    <% if (profile.bottles?.length) { %>
      <table>
        <thead>
          <tr>
            <th>Title of Bottle:</th>
            <th>Distillery:</th>
            <th>Size:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% profile.bottles.forEach(bottle => { %>
            <tr>
              <td><%= bottle.title %></td>
              <td><%= bottle.distillery %></td>
              <td><%= bottle.size %></td>
              <td>
                <button><a href="/bottles/<%= bottle._id %>">Bottle Details</a></button>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
        <h3>No Bottles</h3>
    <% } %>
  
    <% if (isSelf) { %>
      <button><a href="/bottles/new">Add Bottle to Inventory</a></button>
      <button><a href="/wishes/new">Add Bottle to Wish List</a></button>
    <% } %>
  <% } %>
</main>



<%- include('../partials/footer') %>