<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Welcome to <%= profile.name %>'s profile!</h1>
  <h3><%= profile.name %>'s Inventory</h3>
  <button><a href="/bottles"><%= `${profile.name}'s Inventory` %></a></button>
  <button><a href="/wishes"><%= `${profile.name}'s Wish List` %></a></button>


  <% if (isSelf) { %>
    <button><a href="/bottles/new">Add Bottle to Inventory</a></button>
    <button><a href="/wishes/new">Add Bottle to Wish List</a></button>
  <% } %>
</main>



<%- include('../partials/footer') %>