<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1>Welcome to <%= profile.name %>'s profile!</h1>
    <% if (profile.bottles?.length) { %>
      <h1><%= profile.name %>'s Inventory</h1>
      <table>
        <thead>
          <tr>
            <th>Title of Bottle:</th>
            <th>Distillery:</th>
            <th>Size:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% profile.bottles.forEach(bottle => { %>
            <tr>
              <td><%= bottle.title %></td>
              <td><%= bottle.distillery %></td>
              <td><%= bottle.size %>ml</td>
              <td>
                <button><a href="/bottles/<%= bottle._id %>">Bottle Details</a></button>
              </td>
              <% if (bottle.owner.equals(user?.profile._id)) { %>
                <td>
                  <form action="/bottles/<%= bottle._id %>?_method=DELETE" method="POST">
                    <button id="remove-bottle-btn">Delete Bottle</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
        <h3>No Inventory Bottles</h3>
    <% } %>
    <% if (profile.wishes?.length) { %>
      <h1><%= profile.name %>'s Wish List</h1>
      <table>
        <thead>
          <tr>
            <th>Title of Bottle:</th>
            <th>Distillery:</th>
            <th>Size:</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% profile.wishes.forEach(wish => { %>
            <tr>
              <td><%= wish.title %></td>
              <td><%= wish.distillery %></td>
              <td><%= wish.size %>ml</td>
              <td>
                <button><a href="/wishes/<%= wish._id %>">Bottle Details</a></button>
              </td>
              <% if (wish.owner.equals(user?.profile._id)) { %>
                <td>
                  <form action="/wishes/<%= wish._id %>?_method=DELETE" method="POST">
                    <button id="remove-wish-bottle-btn">Delete Bottle</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
        <h3>No Wish List Bottles</h3>
    <% } %>
  
    <% if (isSelf) { %>
      <button><a href="/bottles/new">Add New Bottle</a></button>
    <% } %>
  <% } %>
</main>



<%- include('../partials/footer') %>