<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1 id="welcome-h1"><%= profile.name %>'s profile!</h1>
    <% if (profile.bottles?.length) { %>
      <h1 id="inventory-name-h1">Inventory</h1>
      <div id="table-container1">
      <table>
        <thead id="inventory-thead">
          <tr>
            <th>Title of Bottle:</th>
            <th>Distillery:</th>
            <th>Size:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% profile.bottles.forEach(bottle => { %>
            <tr>
              <td><%= bottle.title %></td>
              <td><%= bottle.distillery %></td>
              <td><%= bottle.size %>ml</td>
              <td>
                <button><a href="/bottles/<%= bottle._id %>" class="detail-btn-a">Bottle Details</a></button>
              </td>
              <% if (bottle.owner.equals(user?.profile._id)) { %>
                <td>
                  <form action="/bottles/<%= bottle._id %>?_method=DELETE" method="POST">
                    <button id="remove-bottle-btn">Delete Bottle</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
        <h3>No Inventory Bottles</h3>
    <% } %>
    </div>
    <% if (profile.wishes?.length) { %>
      <h1 id="wish-h1">Wish List</h1>
      <div id="table-container2">
      <table>
        <thead id="wishes-thead">
          <tr>
            <th>Title of Bottle:</th>
            <th>Distillery:</th>
            <th>Size:</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% profile.wishes.forEach(wish => { %>
            <tr>
              <td><%= wish.title %></td>
              <td><%= wish.distillery %></td>
              <td><%= wish.size %>ml</td>
              <td>
                <button><a href="/bottles/<%= wish._id %>" class="detail-btn-a">Bottle Details</a></button>
              </td>
              <% if (wish.owner.equals(user?.profile._id)) { %>
                <td>
                  <form action="/bottles/<%= wish._id %>?_method=DELETE" method="POST">
                    <button id="remove-wish-bottle-btn">Delete Bottle</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
        <h3>No Wish List Bottles</h3>
    <% } %>
    </div>
  
    <% if (isSelf) { %>
      <button id="add-new-bottle-btn"><a href="/bottles/new" id="add-new-bottle-a">Add New Bottle</a></button>
    <% } %>
  <% } %>
</main>

<%- include('../partials/footer') %>