<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>This is my User Profile page!</h1>

<main>
  <h1>Welcome to <%= user.profile.name %>'s profile!</h1>
  <h3><%= user.profile.name %>'s Inventory</h3>
  <button>View Inventory</button>
  <button>View Wish List</button>


  <% if (user) { %>
    <button>Add Bottle</button>
  <% } %>
</main>



<%- include('../partials/footer') %>