<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bottles/index.css" />
<%- include('../partials/nav') %>


<main>
  <% if (user) { %>
    <form
      action="/bottles"
      method="GET"
      class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
    >
      <input id="bottles-search"
        id="search"
        class="form-control form-control-dark"
        type="search"
        name="name"
        placeholder="Search creator name..."
        value="<%= name %>"
        autocomplete="off"
      />
    </form>
    <table id="index-table-container">
      <thead>
        <tr>
          <th>Title of Bottle:</th>
          <th>Distillery:</th>
          <th>Size:</th>
          <th>Creator:</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% bottles.forEach(bottle => { %>
          <tr>
            <td><%= bottle.title %></td>
            <td><%= bottle.distillery %></td>
            <td><%= bottle.size %>ml</td>
            <td><%= bottle.owner.name %></td>
            <td>
              <button><a href="/bottles/<%= bottle._id %>" id="index-detail-btn-a">Bottle Details</a></button>
            </td>
            <form action="/profiles/<%= user.profile._id %>/addToWish?_method=PATCH" method="POST" name="addToWish">
              <input type="text" name="id" hidden value="<%= bottle._id %>">
            <td><button type="submit">Add to Wish List</button></td>
            </form>
            <% if (bottle.owner.equals(user?.profile._id)) { %>
              <td>
                <form action="/bottles/<%= bottle._id %>?_method=DELETE" method="POST">
                  <button id="remove-bottle-btn">Delete Bottle</button>
                </form>
              </td>
              <% } else { %>
                <td></td>
            <% } %>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } %>
</main>

<%- include('../partials/footer') %>