<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bottles/show.css" />
<%- include('../partials/nav') %>

<main id="bottle-details-main">
  <% if (user) { %>
    <h1 id="bottle-title"><%= title %></h1>
    <section>
      <p>Distillery: <%= bottle.distillery %></p>
      <p>Size of Bottle: <%= bottle.size %>ml</p>
      <p>Spirit: <%= bottle.spirit %></p>
      <p>Notes: <%= bottle.notes %></p>
      <p>Type: <%= bottle.type %></p>
      <p>Mash Bill: <%= bottle.mash %></p>
      <p>Proof: <%= bottle.proof %>%</p>
      <p>Barrel Strength: <%= bottle.strength ? 'Yes' : 'No' %></p>
      <p>Color: <%= bottle.color %></p>
      <p>Hug: <%= bottle.hug %></p>
      <p>On the Tongue: <%= bottle.flavor %></p>
      <p>Quantity Owned: <%= bottle.quantity %></p>
      <p>Collectible: <%= bottle.collectable ? 'Yes' : 'No' %></p>
      <div id="btns-container">
      <% if (bottle.owner.equals(user?.profile._id)) { %>
        <a href="/bottles/<%= bottle._id %>/edit">
          <button id="edit-bottle-show">Edit Bottle</button>
        </a>
        <% } %>
        <a href="/bottles"><button id="go-back-show">Go Back</button></a>
      </div>
      </section>
      <div id="review-container">
        <div id="reviews">
        <h2>Reviews</h2>
        </div>
      </div>
      <form 
      id="add-review-form"
      action="bottles/<%= bottle._id %>/reviews"
      method="POST"
      >
      <div id="review-label-div">
        <label class="review-labels">Rating (1-10):
          <input id="rating-input" type="text" name="rating" value="<%= bottle.rating %>">
        </label>
        <label class="review-labels">Smooth or Aggressive:
          <input id="smoothness-input" type="text" name="smoothness" value="<%= bottle.smoothness %>">
        </label>
        <label class="review-labels">Comment:
          <input id="comment-input" type="text" name="comment" value="<%= bottle.comment %>">
        </label>
      </div>
      <button id="add-review-btn" type="submit" id="add-review-btn">Add Review</button>
    </form>
    <div id="review-answers">
    <% if (bottle.reviews.length) { %>
      <table id="bottle-reviews">
        <thead>
          <tr>
            <th>Rating:</th>
            <th>Author:</th>
            <th>Smooth or Aggressive:</th>
            <th>Comment:</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% bottle.reviews.forEach(review => { %>
          <tbody>
            <tr>
              <td><%= review.rating %></td>
              <td><%= review.author.name %></td>
              <td><%= review.smoothness %></td>
              <td><%= review.comment %></td>
              <td><% if (user.profile._id.equals(bottle.owner._id) || user.profile._id.equals(review.author._id)) { %>
                <form action="/bottles/<%= bottle._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="review-owner-btns">Delete Review</button>
                </form>
                <% } else { %>
                  <td></td>
                <% } %> 
              </td>
              <td>
                <% if (user.profile._id.equals(review.author._id)) { %>
                  <a href="/bottles/<%= bottle._id %>/reviews/<%= review._id %>/editreview">
                    <button class="review-owner-btns">Edit Review</button>
                  </a>
                  <% } else { %>
                    <td></td>
                  <% } %>
                </td>
              </tr>
            </tbody>
            <% }) %> 
          </table>
          <% } else { %>
            <div id="noReviews">
              <h3>No Reviews</h3>
              </div>
            </div>
            <% } %>
            <% }  %>
          </main>

<%- include('../partials/footer') %>