<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bottles/new.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %></h1>
    <h3>Bottle #<%= bottle._id %></h3>
    <section>
      <p>Distillery: <%= bottle.distillery %></p>
      <p>Size: <%= bottle.size %>ml</p>
      <p>Notes: <%= bottle.notes %></p>
      <p>Type: <%= bottle.type %></p>
      <p>Mash Bill: <%= bottle.mash %></p>
      <p>Proof: <%= bottle.proof %>%</p>
      <p>Barrel Strength: <%= bottle.strength ? 'Yes' : 'No' %></p>
      <p>Color: <%= bottle.color %></p>
      <p>Hug: <%= bottle.hug %></p>
      <p>On the Tongue: <%= bottle.flavor %></p>
      <p>Quantity Owned: <%= bottle.quantity %></p>
  <% }  %>
  <% if (bottle.owner.equals(user?.profile._id)) { %>
    <a href="/bottles/<%= bottle._id %>/edit">
      <button>Edit This Bottle</button>
    </a>
  <% } %>
  </section>
  <h2>Reviews</h2>
  <form 
    id="add-review-form"
    action="bottles/<%= bottle._id %>/reviews"
    method="POST"
  >
  <label for="content-textarea">Rating:
    <input id="rating-input" type="text" name="rating" value="<%= bottle.rating %>">
  </label>
  <label for="content-textarea">Smooth or Aggressive:
    <input id="smoothness-input" type="text" name="smoothness" value="<%= bottle.smoothness %>">
  </label>
  <label for="content-textarea">Comment:
    <input id="comment-input" type="text" name="comment" value="<%= bottle.comment %>" autocomplete="off">
  </label>
    <button id="add-review-btn" type="submit">Add Review</button>
  </form>
  <% if (bottle.review.length) { %>
    <table id="review-info">
      <thead>
        <tr>
          <th>Rating:</th>
          <th>Smooth or Aggressive:</th>
          <th>Author:</th>
          <th>Comment:</th>
        </tr>
      </thead>
      <tbody>
        <% bottle.review.forEach(bottle => { %>
          <tr>
            <td><%= bottle.rating %></td>
            <td><%= bottle.smoothness %></td>
            <td><%= bottle.author %></td>
            <td><%= bottle.comment %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews</h3>
  <% } %>
</main>

<%- include('../partials/footer') %>