<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bottles/new.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %></h1>
    <h3>Bottle #<%= wish._id %></h3>
    <section>
      <p>Distillery: <%= wish.distillery %></p>
      <p>Size: <%= wish.size %>ml</p>
      <p>Notes: <%= wish.notes %></p>
      <p>Type: <%= wish.type %></p>
      <p>Mash Bill: <%= wish.mash %></p>
      <p>Proof: <%= wish.proof %>%</p>
      <p>Barrel Strength: <%= wish.strength ? 'Yes' : 'No' %></p>
      <p>Color: <%= wish.color %></p>
      <p>Hug: <%= wish.hug %></p>
      <p>On the Tongue: <%= wish.flavor %></p>
      <% if (wish.owner.equals(user?.profile._id)) { %>
        <a href="/wishes/<%= wish._id %>/edit">
          <button>Edit This Bottle</button>
        </a>
      <% } %>
      <a href="/wishes"><button>Go Back</button></a>
  <% }  %>
  </section>
</main>

<%- include('../partials/footer') %>